<div class="navbar">
  <div class="container">
    <div class="menu">
      <div class="menu__toggle">
        Реестры
      </div>
      <div class="menu__colapse">
        <div routerLink="/contracts" class="menu__item">Договоры и КП</div>
        <div routerLink="/employees" class="menu__item">Сотрудники</div>
        <div routerLink="/equipments" class="menu__item">Оборудование и техниа</div>
        <div routerLink="/materials" class="menu__item">Материалы</div>
      </div>
    </div>
  </div>
</div>
