@import "../../colors.scss";

.navbar {
  grid-column: 1/3;

  background-color: $primary;
  color: white;
}

.menu__colapse {
  width: 0;
  position: absolute;
  background-color: white;
  overflow: hidden;
}

.menu__colapse:hover {
  width: auto;
}

.menu__item {
  padding: 15px;
  color: $primary;
  cursor: pointer;

  &:hover {
    background-color: $primary-30;
  }
}

.menu__toggle {
  cursor: pointer;
  width: max-content;
  padding: 15px;

  &:hover {
    //color: grey;
  }

  &:hover ~ .menu__colapse {
    width: auto;
  }
}