.bg * {
  position: fixed;
  top: 0;
  left: 0;
}

.bg__mask {
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000, 0.0);
  z-index: -1;
}

.bg__img {
  height: auto;
  width: auto;
  height: 100vh;
  min-width: 100vw;
  z-index: -2;
}