$primary: #1f4b9a;
$primary-10: rgba($primary, .1);
$primary-20: rgba($primary, .2);
$primary-30: rgba($primary, .3);
$primary-40: rgba($primary, .4);
$primary-50: rgba($primary, .5);
$primary-60: rgba($primary, .6);
$primary-70: rgba($primary, .7);
$primary-80: rgba($primary, .8);
$primary-90: rgba($primary, .9);